# EmailJS (Mã xác thực OTP học viên đăng ký)
VITE_EMAILJS_SERVICE_ID=service_q86r4ap
VITE_EMAILJS_TEMPLATE_ID=template_1nq488j
VITE_EMAILJS_PUBLIC_KEY=P5IG0fzzQJSm5e4P-

# SePay Webhook Security Secret
SEPAY_WEBHOOK_SECRET=SEPAY_SECRET_FAST_E_LEARNING

# Google reCAPTCHA v3 Keys
VITE_RECAPTCHA_SITE_KEY=6LdEkdQtAAAAABcenIZjUuHFBkC9qqkgEt3Nf9bz
RECAPTCHA_SECRET_KEY=6LdEkdQtAAAAAOeAKhhpvsu9Qi3YirwXip8HCqRc

